.home-container {
    width: 100%;
    height: 95vh;
    margin-top: 56px;
    background-image: url('E:\React\Neuroscanx\src\components\images\home.jpg'); /* Adjust the relative path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .content {
    position: relative;
    text-align: center;
    color: white;
    padding: 20px;
  }



  .card-body{
    background-color:#004085;
    color: white;
  }
  .relative{
    padding-top: 9cm;
  }
  .btn {border-radius: 15px;}
  .wave-container {
    position: absolute;
    top: 16cm; /* Adjust based on your layout */
    width: 100%;
    z-index: 2;
}

.svg {
    display: block;
    width: 100%;
    height: 180px; /* Increase height for larger waves */
}

.main{
  margin-top: 2cm;
}

  

  